name: Release
on:
  push:
    branches-ignore:
    - '*'
    tags:
    - '*'
env:
  GO_VERSION: 1.21.1
  REGISTRY: ghcr.io
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
        cache: true
    - name: Install Helm
      uses: azure/setup-helm@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and Push Images
      run: make touch all images -e RELEASE=1 VERSION=${{ github.ref_name }}
    - name: Build SBOMS
      run: go run ./hack/sbom
    - name: Build Documentation
      run: sudo apt -y install wbritish && go run ./hack/docs -o docs/server-api.md
    - name: Rename Release Assets
      run: cp bin/unikornctl bin/unikornctl-linux-amd64
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        name: Release ${{ github.ref_name }}
        tag_name: ${{ github.ref_name }}
        files: |
          bin/unikornctl-linux-amd64
          sboms/*.spdx
          docs/server-api.md
